@font-face {
    font-family: "Pretendard";
    font-weight: 900;
    src: url(pre/Pretendard-Black.woff) format('woff');
}
@font-face {
    font-family: "Pretendard";
    font-weight: 800;
    src: url(pre/Pretendard-ExtraBold.woff) format('woff');
}
@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    src: url(pre/Pretendard-Bold.woff) format('woff');
}
@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    src: url(pre/Pretendard-SemiBold.woff) format('woff');
}
@font-face {
    font-family: "Pretendard";
    font-weight: 500;
    src: url(pre/Pretendard-Medium.woff) format('woff');
}
@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    src: url(pre/Pretendard-Regular.woff) format('woff');
}
@font-face {
    font-family: "Pretendard";
    font-weight: 300;
    src: url(pre/Pretendard-Light.woff) format('woff');
}
@font-face {
    font-family: "Pretendard";
    font-weight: 200;
    src: url(pre/Pretendard-ExtraLight.woff) format('woff');
}
@font-face {
    font-family: "Pretendard";
    font-weight: 100;
    src: url(pre/Pretendard-Thin.woff) format('woff');
}

.d-flex{
    display: flex;
}

nav{
    width: 1774px;
    margin: 0 auto;
    padding: 26px 0;
    justify-content: space-between;
    align-items: center;
}

.navi{
    gap: 0 48px;
    /* "display: grid, display: flex"에만 활용할 수 있는 여백 조정 속성 */
}
.navi a{
    text-decoration: none;
    color: #000;
}

.icon ul{
    gap: 0 11px;
}
.mobile{
    display: none;
}

img{
    width: 100%;
    height: 100%;
}

h1{
    font-family: "Pretendard";
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -.025em;
}
h2{
    font-family: "Pretendard";
    font-size: 32px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -.025em;
    margin-bottom: 25px;
}
a{
    font-family: "Pretendard";
    font-size: 24px;
    font-weight: 600; 
    line-height: 140%;
    letter-spacing: -.025em;
}
p{
    font-family: "Pretendard";
    font-size: 16px;
    font-weight: 500; 
    line-height: 140%;
    letter-spacing: -.025em;
    color: #767676;
}

.sec-padding{
    padding: 100px 0;
}

.content-textTitle{
    width: 408px;
    margin: auto auto 80px auto;
    text-align: center;
}

.mt-27{
    margin-top: 27px;
}

.slider{
    width: 100%;
    overflow: hidden;
}
.slider-center{
    width: 250px !important; /*!important : 가장 우선적으로 적용, 많이 쓰지 마세요*/
    padding: 0 10px;
}

.d-flex{
    display: flex;
}
.gap{
    gap: 0 10px;
}
.w-1316{
    width: 1316px;
    margin: auto;
}
.column-4{
    width: 30%;
}


/* 반응형 */

@media(max-width:1773px){
    nav{
        width: 100%;
        padding: 26px 24px;
    }
    .w-1316{
        width: 100%;
        margin: 0;
    }
}

@media(max-width:1280px){
    .ta-pc{
        display: none;
    }
    .navi{
        gap: 0 25px;
    }
    nav{
        justify-content: space-between;
        padding: 24px 0;
        width: 90%;
    }
    h1{
        font-size: 18px;
    }
    a{
        font-size: 18px;
    }

    .w-1316{
        width: 1110px;
        margin: auto;
    }
    .content-textTitle{
        margin: auto auto 50px auto;
    }
    h2{
        font-size: 30px;
        margin-bottom: 15px;
    }
    .mt-27{
        margin-top: 20px;
    }
    .sec-padding{
        padding: 80px 0;
    }
}

@media(max-width:768px){
    .navi{
        display: none;
    }
    .mobile{
        display: block;
    }

    .f-d-column{
        flex-direction: column;
    }
    .gap{
        gap: 35px 0;
    }
    .column-4{
        width: 100%;
    }

    .w-1316{
        width: 690px;
        margin: auto;
    }
    .content-textTitle{
        margin: auto auto 40px auto;
    }
    h2{
        font-size: 25px;
        margin-bottom: 10px;
    }
    p{
        font-size: 15px;
    }
    .mt-27{
        margin-top: 20px;
    }
    .sec-padding{
        padding: 60px 0;
    }
}



@media(max-width:576px){
    nav{
        width: 90%;
    }

    .w-1316{
        width: 540px;
        margin: auto;
    }
    .content-textTitle{
        margin: auto auto 25px auto;
    }
    h2{
        font-size: 18px;
        letter-spacing: 0;
        margin-bottom: 12px;
    }
    p{
        font-size: 12px;
    }
    .mt-27{
        margin-top: 15px;
    }
    .sec-padding{
        padding: 40px 0;
    }
    .row{
        padding: 0 20px;
    }
}

/*
@media(max-width:NNNpx){ }
>> 해당 width값에 도달하면 { } 속성 적용
( ex. ".ta-pc{display: none;}" = 해당 width값에 도달하면 노출 제외_노출: block )
( ex. ".navi{gap: 0 25px;}" = 해당 width값에 도달하면 gap 25px로 변경)
*/

/*@media(min-width:600px){
    body{
        background-color: blue;
    }
}*/

/*
@media(min-width:NNNpx){ }
>> 해당 width값에 도달하기 전까지 { } 속성 적용
( ex. "body{background-color: blue;}" = 해당 width값에 도달하기 전까지 bg-color blue로 유지, 해당 width값에 도달 시 bg-color 제외)
*/

/* @media(min-width:768px) and (max-width:1024px){
    body{
        background-color: blue;
    }   
}
위 size 태블릿 구간_태블릿 구간 내에서는 아래 속성을 적용한다
"screen and: 원래는 기재 항목, only screen and: 예전 브라우저별 구분 목적 */