@font-face {
    font-family: "Pretendard";
    font-weight: 900;
    src: url(pre/Pretendard-Black.woff) format('woff');
}
@font-face {
    font-family: "Pretendard";
    font-weight: 800;
    src: url(pre/Pretendard-ExtraBold.woff) format('woff');
}
@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    src: url(pre/Pretendard-Bold.woff) format('woff');
}
@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    src: url(pre/Pretendard-SemiBold.woff) format('woff');
}
@font-face {
    font-family: "Pretendard";
    font-weight: 500;
    src: url(pre/Pretendard-Medium.woff) format('woff');
}
@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    src: url(pre/Pretendard-Regular.woff) format('woff');
}
@font-face {
    font-family: "Pretendard";
    font-weight: 300;
    src: url(pre/Pretendard-Light.woff) format('woff');
}
@font-face {
    font-family: "Pretendard";
    font-weight: 200;
    src: url(pre/Pretendard-ExtraLight.woff) format('woff');
}
@font-face {
    font-family: "Pretendard";
    font-weight: 100;
    src: url(pre/Pretendard-Thin.woff) format('woff');
}
*{
    box-sizing: border-box;
}

.text-flex{
    display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

}

body{
    font-family: "Pretendard";
    background-color: #f5f5f5;
}
section{
    width: 1440px;
    margin: auto;
    padding: 233px 0 160px;
}


.d-flex{
    display: flex;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 180px;
}
.gap-20{
    gap: 20px;
}

.box{
    width: 50%;
}
.box h1{
    font-size: 64px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.64px;
    margin-bottom: 40px;
    color: #333;
}
.box p{
    font-size: 20px;
    font-weight: 500;
    color: #333;
    line-height: 1.7;
    margin-bottom: 40px;
}
.box a{
    font-size: 18px;
    font-weight: 600;
    color: #333;
    line-height: 1;
    text-decoration: none;
    border-bottom: 2px solid #202020;
    padding-bottom: 12px;
}

img{
    width: 50%;
}

@media(max-width:1080px){
    section{
        width: 820px;
        margin: 0 auto;
    }
    .d-flex{
        flex-direction: column-reverse;
    }
    .gap-20{
        gap: 40px;
    }
    .box{
        width: 100%;
    }
    .box h1{
        font-size: 48px;
    }
    .box p{
        font-size: 16px;
    }
    img{
        width: 100%;
    }
}
@media(max-width:768px){
    section{
        width: 744px;
        margin: 0 auto;
    }
    .container{
        gap: 40px;
    }
    .d-flex{
        text-align: center;
    }
    .box h1{
        font-size: 25px;
    }
    .box p{
        font-size: 13px;
    }
    img{
        width: 80%;
        margin: auto;
    }
    .text-flex{
        width: 80%;
        margin: auto;
    }
}