*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

.navbar{
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown{
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}

.column{
    float: left;
    width: 33.33%;
    padding: 10xp;
    background-color: #ccc;
    height: 250px;
}
.column a{
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.column a:hover{
    background-color: #ddd;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
/* float 사용 시, 필수 요소인 clearfix 대신 after 위와 같이 사용 */

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .2);
    z-index: 999;
}
/* 
.dropdown:hover .dropdown-content{
    display: block;
} */

.swiper-slide{
    width: 100%;
    height: 700px;
}
.bg1{
    background: url('../image/slide1.jpg'), no-repeat;
    background-size: cover;
    background-position: center;
}
.bg2{
    background: url('../image/slide2.jpg'), no-repeat;
    background-size: cover;
    background-position: center;
}
.bg3{
    background: url('../image/slide3.jpg'), no-repeat;
    background-size: cover;
    background-position: center;
}
.bg4{
    background: url('../image/slide4.jpg'), no-repeat;
    background-size: cover;
    background-position: center;
}
.bg5{
    background: url('../image/slide5.jpg'), no-repeat;
    background-size: cover;
    background-position: center;
}
.bg6{
    background: url('../image/slide6.jpg'), no-repeat;
    background-size: cover;
    background-position: center;
}
.bg7{
    background: url('../image/slide7.jpg'), no-repeat;
    background-size: cover;
    background-position: center;
}
.bg8{
    background: url('../image/slide8.jpg'), no-repeat;
    background-size: cover;
    background-position: center;
}
.bg9{
    background: url('../image/slide9.jpg'), no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 600px){
    .column{
        width: 100%;
        height: auto;
    }
}